@media screen and (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: none;
    }
    .screen{
        max-width: 1200px;
        padding-bottom: 75px;
    }
}