@media screen and (max-width: 1024px) {
    .header{
        padding-bottom: 15px;
        .container{
            padding-bottom: 18px;
            padding-top: 18px;
            }
        .logo{
            max-width: 95px;
        }
    }
    .header__navigation {
        width: 100%;
        position: fixed;
        inset: 70px 0 0;
        flex-direction: column;
        padding: 15px;
        background-color: #363A4D;
        z-index: 1;
        .btn-primary {
            justify-content: center;
            width: 295px;
            height: 68px;
            flex-shrink: 0;
            margin: 0 auto;
        }
    }
    .img-fluid{
        width: 130px;
    }
    .header__navigation-list {
        flex-direction: column;
        margin-bottom: 17px;
        padding: 5px;
        z-index: 5;
    }
    .header__item-link {
        font-size: 24px;
        line-height: 222%;
    }
    .header__navigation {
       display: none;
    }
    .show{
    display: flex;
    }
    ul li {
        list-style: none;
        margin-bottom: 11px;
    }
    .first-screen{
            margin-bottom: 55px;
    }
    .banner{
        .slick-slide{
            border-radius: 0px;
            padding: 0px 40px;
            height: calc(100vh - 72px);
            background-position: center;
            background-repeat: no-repeat;
            &:before{
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background: #00000014;
            }
            .container{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                padding: 0;
                z-index: 1;
                margin-bottom: 55px;
            }
        }
    }
    .banner-title{
        max-width: 280px;
        font-size: 32px;
        margin-bottom: 10px;
    }
    .banner-subtitle{
        max-width: 260px;
        font-size: 16px;
        margin-bottom: 18px;
    }
    .slick-dots {
        bottom: 42px;
        left: 50%;
        transform: translate(-50%);
    }

    .header {
        padding: 0px;
    }
    .container-xxl{
        padding: 0px;
    }


    .calculation {
        margin-bottom: 60px;

        .container.calc{
            padding-right: 20px;
            padding-left: 20px;
        }

            .calculation-form {
                padding: 49px 30px 34px;
                margin-bottom: 0px;
            }

            .template-title h2 {
                position: relative;
                text-align: center;
                font-size: 24px;
                font-weight: 700;
                line-height: 124.5%; 
                text-transform: uppercase;
                margin-bottom: 24%;
                &:after{
                    position: absolute;
                    left: 50%;
                    top: 113px;
                    transform: translate(-50%, 0);
                    margin: 0;
                    }
            }
            
            .input-row{
                display: block;
            }
            input{
                margin-bottom: 18px;
                max-width: 600px;
            }
            .file-text {
                position: static;
                margin-bottom: 10px;
            }
            .checked {
                padding-top: 8px;
                padding-bottom: 5px;
            }
            .input-file + label {
                position: static;
                display: flex;
                display: inline-block;
                margin-bottom: 26px;
                margin-left: -30px;
                padding: 8px;
                align-self: center;
                text-align: center;
            }
            .btn-lg {
                width: 274px;
                .icon {
                    margin: 0px -14px 0 70px;
                }
            }
            
            .calculation-photo {
                display: none;
            }
    }





    .advantages{
        margin-bottom: 100px;
        padding: 0px;
        .template-title{
            max-width: 350px;
            h2 {
            font-size: 24px;
            text-align: center;
            padding-top: 55px;
            margin-bottom: 28px;
            &:after {
                left: 50%;
                top: 137px;
                transform: translate(-50%, 0);
        }
        }
        }
        .advantage {
            padding-top: 40px;
        }
        .advantage-description {
            margin-bottom: 68px;
        }
        &:before {
            border-radius: 0px;
        }
    }


    .delivery{

        .template-title{
            margin-bottom: 20px;
            h2 {
            padding-top: 0px;
            text-align: center;
            font-size: 24px;
            margin-bottom: 55px;
            &:after{
                position: absolute;
                left: 50%;
                top: 83px;
                transform: translate(-50%, 0);
                margin: 0;
                }
        }
    }
    .template-card{
        max-width: 337px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .template-card-btn-row {
        .btn {
            max-width: 137px;
            font-size: 13px;
        }
        .btn-primary{
            margin-left: 27px;
        }
    }

    .slick-dots {
        position: absolute;
        top: 515px;
    }
    }



    .services{
            margin-bottom: 53px;
            &:before {
            border-radius: 0px;
            }
        .template-title{
            margin-bottom: 20px;
            h2 {
            padding-top: 40px;
            text-align: center;
            font-size: 24px;
            margin-bottom: 60px;
            &:after{
                position: absolute;
                left: 50%;
                top: 91px;
                transform: translate(-50%, 0);
                margin: 0;
                }
        }
    }

    .template-card{
        max-width: 337px;
    }
    .slick-dots {
        position: absolute;
        top: 515px;
    }
    }


    .about-company{
        margin-bottom: 380px;
         .template-title{
            text-align: center;
            padding-top: 0px;
            h2{
            text-align: center;
            font-size: 24px;
            margin-bottom: 48px;
            &:after{
                top: 50px;
                left: 50%;
                }
            }
        }
        .template-subtitle h6{
            margin: 0 auto;
            font-size: 16px;
            max-width: 335px;
            line-height: 150%;
            text-align: justify;
        }
        
        .second-subtitle{
            padding-top: 20px;
        }
        .about-company-photo{
            width: 280px;
            height: 290px;
            left: 55px;
            top: 474px;

        }
    }
    


    .questions{
        margin-bottom: 62px;
        .template-title{
            text-align: center;
            padding-top: 0px;
            h2{
            text-align: center;
            font-size: 24px;
            margin-bottom: 42px;
            &:after{
                top: 50px;
                left: 50%;
                }
            }
        }
        .container-fluid{
            padding-left: 0px;
            padding-right: 0px;
        }
        .d-flex{
            display: block!important;
        }
        .accordion{
          padding: 10px;
        }
        .accordion-button{
            max-width: 335px;
            height: 64px;
            font-size: 16px;
            line-height: 125%;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 0px;
            padding-bottom: 0px;
            border-radius: 10px;
        }
        .accordion-body{
            max-height: 152px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 0px;
            padding-bottom: 8px;
            max-width: 335px;
            font-size: 14px;
            line-height: 144%;
        }
        .accordion-item{
            margin-bottom: 16px;
        }

        .questions-form {
            max-width: 335px;
            margin: 0 auto;
        }
        .questions-title,
        .questions-subtitle{
            text-align: center;
        }
        .questions-subtitle{
            width: 300px;
            padding-left: 25px;
            margin-bottom: 19px;
        }
        .btn {
            margin-top: 10px;
        }
         .btn-lg {
            width: 295px;
            .icon {
                margin: 0 -14px 0 75px;
            }
        }
        input{
            width: 296px;
            margin-bottom: 15px;
        }
        .big-col{
            height: 70px;
        }


    }


    .cooperation.container-fluid{
        &:before{
            border-radius: 0px;
        }
        .template-title{
            padding-top: 40px;
            h2{
            text-align: center;
            font-size: 24px;
            }
            h3{
             font-size: 16px;
             margin-bottom: 57px;
            &:after{
                top: 50px;
                left: 50%;
                }
            }
        }
        .car-cooperation{
            width: 380px;
            height: 262px;
            margin-left: -13px;
            margin-bottom: 7px;
        }
        .first-block-cooperation,
        .second-block-cooperation {
            display: flex;
            flex-direction: column;
        }
        .first-block-cooperation{
            flex-direction: column-reverse;
            max-width: 840px;
        }
        .second-block-cooperation {
            margin-left: 0px;
            .car-cooperation{
                margin-bottom: 0px;
            }
            .cooperation-text-second{
                h6{
                padding-top: 0px;
                }
                .second-subtitle{
                    margin-bottom: 32px;
                }
            }
            .btn-lg{
                max-width: 335px;
                margin-bottom: 39px;
                .icon {
                    margin: 0 -14px 0 130px;
                }
            }
            }

        .cooperation-text,
        .cooperation-text-second {
            margin-bottom: 8px;
            h6{
            width: 100%;
            text-align: justify;
            margin-bottom: 22px;
            line-height: 149%;
            font-size: 16px;
            }
        }

    }


    .footer{
        .container.calc::before{
            width: 335px;
        }
        .main-info{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        align-items: center;
        text-align: center;
        }
        .transportation-footer{
            display: none;
        }
        .services-footer{
            display: none;
        }
        .info-footer{
            display: none;
        }




    }
}