.about-company{
    .container{
        position: relative;
    }
    .template-title{
        text-align: left;
        h2 {
            margin-bottom: 63px;
            &:after {
                content: "";
                display: inline-block;
                width: 85px;
                height: 2px;
                margin: 0px;
                position: absolute;
                left: 5%;
                top: 60px;
                transform: translate(-50%, 0);
                background-color: $color-secondary;
            }
        }
    }
    .template-subtitle h6{
        max-width: 555px;
        font-weight: 100;
        line-height: 170%;
    }

    .second-subtitle{
        padding-top: 15px;
    }
    .about-company-photo {
        position: absolute;
        left: 600px;
        top: -55px;
        max-width: 560px;
        width: 100%;
    }
}