.advantages .template-title h2 {
    text-align: center;
        &:after {
            content: "";
            display: inline-block;
            width: 85px;
            height: 2px;
            margin: 0px;
            position: absolute;
            left: 50%;
            top: 113px;
            transform: translate(-50%, 0);
            margin: 0;
            background-color: $color-primary;
    }
}    

.advantage {
    text-align: center;
    
}
 .row{
    row-gap: 48px;
 }
.icon-box {
    height: 113px;
    width: 113px;
    border: 1px solid #6C7188;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 auto 22px;
    padding: 10px;
}

.icon-box img {
    background: #8BC34A;
    width: 100%;
    border-radius: 50%;
    object-fit: none;
}

.advantage-description{
    font-weight: 400;
}
@mixin charter{
    margin-top: 0;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 90px 85px 100px;
    max-width: 1920px;
    position: relative;
                    
     &:before {
         content: "";
         border-radius: 20px;
         position: absolute;
         left: 42px;
         right: 42px;
         top: 0;
         height: 100%;
         background-color: $bg-secondary;
         z-index: -1;
     }
}

.advantages  {
    @include charter;
}


@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  @mixin horizontal-list {
    @include reset-list;
  
    li {
      display: inline-block;
      margin: {
        left: -2px;
        right: 2em;
      }
    }
  }
  
  nav ul {
    @include horizontal-list;
  }

  
