.calculation {
    @extend .charter;
    .btn-lg{
        width: 253px;
    }
    .container{
        position: relative;
    }
}

.calculation-form {
    max-width: 626px;
    background-color: $bg-secondary;
    padding: 50px 50px 61px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.input-row {
    display: flex;
    gap: 30px;
}

.checked{
    padding-top: 25px;
    min-width: 248px;
    padding-bottom: 120px;
    label{
        margin-bottom: 14px;
    }
}

label{
    margin-bottom: 3px;
}
input {
    font-size: 16px;
    max-width: 248px;
    border-radius: 10px;
    padding: 17px 20px;
    font-size: 14px;
    border: none;
    transition: .2s;
    width: 100%; 
    margin-bottom: 18px;
    
    &:focus-visible {
        outline: none;
    }

    &:hover {
        box-shadow: 0px 0px 4px 2px $color-primary;
    }

    &:focus {
        box-shadow: 0px 0px 4px 2px $color-secondary;
    }

    &::placeholder {
        color: #CBCBCB;
    }
}
.check-button {
    margin-bottom: 6px;
    padding-left: 2px;
}

/*scss*/
[type="checkbox"],
[type="radio"] {
    display: none;

    &:checked {
        +label {
            &:before {
                content: "";
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M4.31726 10.3171C4.07378 10.3171 3.83005 10.2243 3.64431 10.0384L0.278815 6.67291C-0.0929384 6.30116 -0.0929384 5.69853 0.278815 5.32677C0.650569 4.95502 1.2532 4.95502 1.62495 5.32677L4.31726 8.01907L10.3751 1.96139C10.7468 1.58975 11.3496 1.58964 11.7211 1.96139C12.0929 2.33314 12.0929 2.93591 11.7211 3.30753L4.99034 10.0384C4.80446 10.2242 4.56084 10.3171 4.31726 10.3171Z' fill='%23282B38'/%3E%3C/svg%3E") center no-repeat #fff;
            }
        }
    }

    +label {
        display: flex;
        align-items: center;
        cursor: pointer;

        &:before {
            content: "";
            display: block;
            background-color: #FFFFFF;
            border: 1px solid #282B38;
            border-radius: 4px;
            width: 24px;
            height: 24px;
            margin-right: 10px;

        }

        &:hover {
            &::before {
                border: 1px solid $color-primary;
            }
        }
    }
}

[type="radio"] {
    &:checked {
        +label {
            &:before {
                content: "•";
                background: #fff;
                font-size: 40px;
                line-height: 18px;
                color: #282B38;
                text-align: center;
            }
        }
    }

    +label {

        &:before {
            border-radius: 50%;
        }
    } 
}

.input-file + label {
    position: absolute;
    bottom: 25%;
    display: flex;
    left: 0;
    width: 100%;
    height: 43px;
    padding: 8px 28%;
    max-width: 526px;
    transform: translate(10%);
    border-radius: 10px;
    border: 1px dashed #ffffff42;
    cursor: pointer;

  

    &:hover {
        border-color: $color-secondary;
        color: $color-secondary;
    }

}
.input-file{
    display: none;
}
.file-text{
    position: absolute;
    top: 61%;
}
.calculation-photo {
    position: absolute;
    left: 52%;
    top: -35px;
    max-width: 560px;
    width: 100%;
}