<section class="about-company">
    <div class="container calc">
        <div class="template-title">
            <h2>О компании</h2>
        </div>
        <div class="template-subtitle">
            <h6 class="first-subtitle">Компания Азия Карго - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украину. Для вашего удобства есть тарифы на лёгкий и тяжелый куб. Мы работаем на рынке более 4 лет, а руководители компании занимаются логистикой уже более 11 лет.</h6>
            <h6 class="second-subtitle">Мы стремимся предоставить лучшие условия доставки и лучший сервис своим клиентам. Выбирая нас - вы выбираете качественную доставку оптимальную по цене и времени! Убедитесь в этом сами!</h6>
        </div>
        <div class="about-company__img-box">
            <img class="about-company-photo" src="assets/img/about-company.png" alt="about-company">
        </div>
    </div>
</section>