<section class="advantages">
    <div class="container">
      <div class="template-title">
        <h2>eewfwefewfwefewwe</h2>
      </div>
      <div class="row">
      <div class="col-lg-3">
        <div class="advantage">
            <div class="icon-box">
                <img src="assets/img/first-advantage-icon.svg" alt="">
            </div>
            <div class="advantage-description">
                Таможенное оформление груза
            </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="advantage">
            <div class="icon-box">
                <img src="assets/img/first-advantage-icon.svg" alt="">
            </div>
            <div class="advantage-description">
                Страховка груза
            </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="advantage">
            <div class="icon-box">
                <img src="assets/img/first-advantage-icon.svg" alt="">
            </div>
            <div class="advantage-description">
                Проверка товара на брак
            </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="advantage">
            <div class="icon-box">
                <img src="assets/img/first-advantage-icon.svg" alt="">
            </div>
            <div class="advantage-description">
                Доставка в любой город Украины
            </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="advantage">
            <div class="icon-box">
                <img src="assets/img/first-advantage-icon.svg" alt="">
            </div>
            <div class="advantage-description">
                Консолидация на складе
            </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="advantage">
            <div class="icon-box">
                <img src="assets/img/first-advantage-icon.svg" alt="">
            </div>
            <div class="advantage-description">
                Ответственное хранение груза
            </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="advantage">
            <div class="icon-box">
                <img src="assets/img/first-advantage-icon.svg" alt="">
            </div>
            <div class="advantage-description">
                Помощь в оплате товара
            </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="advantage">
            <div class="icon-box">
                <img src="assets/img/first-advantage-icon.svg" alt="">
            </div>
            <div class="advantage-description">
                Упаковка, переупаковка, паллетирование груза к международной перевозке
            </div>
        </div>
      </div>
    </div>
</section>