<section class="calculation">
    <div class="container">
        <div class="template-title col-lg-7">
            <h2>Получить рассчет стоимости доставки вашего груза</h2>
        </div>
        <form class="calculation-form">
            <div class="input-row">
                <div class="input-column">
                    <div class="input-box">
                        <label for="category">Категория товара:</label>
                        <input id="category" type="text" placeholder="Категория товара:">
                    </div>
                </div>
            </div>
        </form>
       <!-- @@include('calculation-form') !-->
    </div>
</section>