<section class="delivery">
    <div class="container calc">
        <div class="template-title">
            <h2>Варианты доставки грузов из Китая</h2>
        </div>
        <div class="slider-template">
            <div>
                <div class="template-card">
                    <div class="img-box">
                        <img src="assets/img/delivery-slider-photo-1.png"  alt="delivery">
                    </div>
                    <h4 class="template-card__title">Авто - обычная</h4>
                    <div class="template-card__options">
                        <div class="template-card__options-item">
                            <div class="img-box">
                                <img src="assets/img/calendar-delivery.svg" class="img-fluid" alt="calendar">
                            </div>
                            9-15 дней  
                        </div>
                        <div class="template-card__options-item">
                            <div class="img-box">
                                <img src="assets/img/box-delivery.svg" class="img-fluid" alt="box">
                            </div>
                            от 5 кг
                        </div>
                    </div>
                    <div class="template-card__price">
                        <span>от</span>
                        <b>2,5</b>
                        <span>$/кг</span>
                    </div>
                    <div class="template-card-btn-row">
                        <button type="button" class="btn btn-primary">Оставить заявку</button>
                        <button type="button" class="btn btn-secondary">Подробнее</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="template-card">
                    <div class="img-box">
                        <img src="assets/img/delivery-slider-photo-2.png"  alt="delivery">
                    </div>
                    <h4 class="template-card__title">Авто - ускоренная</h4>
                    <div class="template-card__options">
                        <div class="template-card__options-item">
                            <div class="img-box">
                                <img src="assets/img/calendar-delivery.svg" class="img-fluid" alt="calendar">
                            </div>
                            9-15 дней  
                        </div>
                        <div class="template-card__options-item">
                            <div class="img-box">
                                <img src="assets/img/box-delivery.svg" class="img-fluid" alt="box">
                            </div>
                            от 5 кг
                        </div>
                    </div>
                    <div class="template-card__price">
                        <span>от</span>
                        <b>2,5</b>
                        <span>$/кг</span>
                    </div>
                    <div class="template-card-btn-row">
                        <button type="button" class="btn btn-primary">Оставить заявку</button>
                        <button type="button" class="btn btn-secondary">Подробнее</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="template-card">
                    <div class="img-box">
                        <img src="assets/img/delivery-slider-photo-3.png"  alt="delivery">
                    </div>
                    <h4 class="template-card__title">Авиа</h4>
                    <div class="template-card__options">
                        <div class="template-card__options-item">
                            <div class="img-box">
                                <img src="assets/img/calendar-delivery.svg" class="img-fluid" alt="calendar">
                            </div>
                            9-15 дней  
                        </div>
                        <div class="template-card__options-item">
                            <div class="img-box">
                                <img src="assets/img/box-delivery.svg" class="img-fluid" alt="box">
                            </div>
                            от 5 кг
                        </div>
                    </div>
                    <div class="template-card__price">
                        <span>от</span>
                        <b>2,5</b>
                        <span>$/кг</span>
                    </div>
                    <div class="template-card-btn-row">
                        <button type="button" class="btn btn-primary">Оставить заявку</button>
                        <button type="button" class="btn btn-secondary">Подробнее</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="template-card">
                    <div class="img-box">
                        <img src="assets/img/delivery-slider-photo-5.png"  alt="delivery">
                    </div>
                    <h4 class="template-card__title">Ж/Д</h4>
                    <div class="template-card__options">
                        <div class="template-card__options-item">
                            <div class="img-box">
                                <img src="assets/img/calendar-delivery.svg" class="img-fluid" alt="calendar">
                            </div>
                            9-15 дней  
                        </div>
                        <div class="template-card__options-item">
                            <div class="img-box">
                                <img src="assets/img/box-delivery.svg" class="img-fluid" alt="box">
                            </div>
                            от 5 кг
                        </div>
                    </div>
                    <div class="template-card__price">
                        <span>от</span>
                        <b>2,5</b>
                        <span>$/кг</span>
                    </div>
                    <div class="template-card-btn-row">
                        <button type="button" class="btn btn-primary">Оставить заявку</button>
                        <button type="button" class="btn btn-secondary">Подробнее</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="template-card">
                    <div class="img-box">
                        <img src="assets/img/delivery-slider-photo-4.png" alt="delivery">
                    </div>
                    <h4 class="template-card__title">Море</h4>
                    <div class="template-card__options">
                        <div class="template-card__options-item">
                            <div class="img-box">
                                <img src="assets/img/calendar-delivery.svg" class="img-fluid" alt="calendar">
                            </div>
                            9-15 дней  
                        </div>
                        <div class="template-card__options-item">
                            <div class="img-box">
                                <img src="assets/img/box-delivery.svg" class="img-fluid" alt="box">
                            </div>
                            от 5 кг
                        </div>
                    </div>
                    <div class="template-card__price">
                        <span>от</span>
                        <b>2,5</b>
                        <span>$/кг</span>
                    </div>
                    <div class="template-card-btn-row">
                        <button type="button" class="btn btn-primary">Оставить заявку</button>
                        <button type="button" class="btn btn-secondary">Подробнее</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>